@import "tailwindcss";

@layer base {
  body {
    background: var(--background);
    color: var(--foreground); /* Use foreground variable for text color */
    font-family: var(--font-lato), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff; /* Set default text color to white */
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff; /* Text color for dark mode */
  }
}


